/* All Common CSS Starts */
*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
     font-family: "Poppins", sans-serif;
}

a{
    text-decoration: none;
}

ul, ol{
    list-style-type: none ;
}
.container{
    width: 1210px;
    margin: 0 auto;
}
/* All Common CSS Ends */

/* Header Part Starts */
#HeaderPart{
    background: #F9F9FC;
}
.Header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu ul{
    display: flex;
    align: center ;
}
.menu ul li a {
    padding: 0 25px;
    line-height: 70px;
    font-weight: 400;
    font-size: 14px;
    text-transform: uppercase;
    color: black;
}
.button a{
    padding: 10px 20px;
    background: #5E3BEE;
    border-radius: 50px;
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
    color: #F9F9FC
    
}
.button i{
    margin-left: 10px;
}

/* Header Part Ends */